.Test {
    width: 55vw;
    /* width: 80vmin; */
    /* height: 80vmin; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: linear-gradient(135deg, #705ca8, #4392c7); */
    font-size: 1rem;
}

.Test h1,
h2,
h3 {
    color: #9dd5f4;
    text-shadow: 0 0 6px rgba(155, 215, 245, 0.5);
    font-weight: 300;
    /* text-transform: uppercase; */
    text-align: center;
}

.Test h1 {
    margin: 2rem 0 0;
    font-size: 6.25vw;
    letter-spacing: 0.25rem;
}

.Test h2 {
    margin: 2rem 0;
    font-size: 2.5vw;
    letter-spacing: 0.275rem;
    opacity: 1;
    font-weight: 700;
}

.Test h3 {
    margin: 1rem 0 1rem;
    font-size: 2.5vw;
    letter-spacing: 0.15rem;
}

.pulsate {
    animation: pulsate 1.5s ease-out infinite;
}

@keyframes pulsate {
    0% {
        opacity: 1;
        text-shadow: 0 0 1vw 1vw;
    }
    50% {
        opacity: 0.2;
        text-shadow: none;
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 1vw 1vw;
    }
}
