.Table {
    margin: 1rem;
    border-collapse: collapse;
    color: var(--color-3b);
    /* font-family: "Courier New", Courier, monospace; */
    font-family: "Times New Roman", Times, serif;
}

.Table-th,
.Table-td {
    border: 1px dotted var(--color-2);
    padding: 0.5rem 2rem;
}

.Table-thead {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.Table-thead .Table-th {
    font-weight: 400;
    text-align: center;
}

.Table-th {
    text-align: left;
    font-weight: 300;
}

.Table-td {
    font-weight: 300;
    text-align: center;
}
